<div class="m-20">
  <%= form_with(model: datasource,  local: true, class: 'space-y-4') do |form| %>
  <div class="space-y-12">
      <% if datasource.errors.any? %>
      <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <h2 class="font-bold"><%= pluralize(datasource.errors.count, "error") %> prohibited this datasource from being saved:</h2>

        <ul class="list-disc pl-5">
          <% datasource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <div class="field">
      <%= form.label :name, 'Nickname', class: 'block text-sm font-medium text-gray-700' %>
      <%= form.text_field :name, value: "Stripe API", class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50' %>
    </div>

    <div class="field">
      <%= form.label :description, class: 'block text-sm font-medium text-gray-700' %>
      <%= form.text_field :description, autocomplete: "off", value: 'Stripe API' , class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50' %>
    </div>

    <div class="field">
      <%= form.hidden_field :datasource_type, value: 'api'%>
    </div>

    <div class="field">
      <%= form.hidden_field :swagger_url, value: Rails.application.config.x.stripe_swagger_url %>
    </div>

    <div class="field">
      <%= form.label :api_key, class: 'block text-sm font-medium text-gray-700' %>
      <%= form.password_field :api_key, placeholder: 'sk_live_xxxxxxxx', autocomplete: "off", class: 'mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50' %>
    </div>

    <div class="actions">
      <%= form.submit 'Submit', class: 'inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
      <%= link_to 'Back', datasources_path, class: "inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
    </div>
    </div>
  <% end %>

</div>