<div class="flex flex-col p-6 bg-white shadow-md rounded-lg max-w-md mx-auto">
  <h1 class="text-2xl font-semibold mb-4">Datasource: <%= @datasource.name %></h1>
  <div class="flex flex-col space-y-2">
    <p class="flex items-center space-x-2">
      <strong class="w-24">Name:</strong>
      <span class="flex-1"><%= @datasource.name %></span>
    </p>
    <p class="flex items-center space-x-2">
      <strong class="w-24">Description:</strong>
      <span class="flex-1"><%= @datasource.description %></span>
    </p>
    <p class="flex items-center space-x-2">
      <strong class="w-24">Type:</strong>
      <span class="flex-1"><%= @datasource.datasource_type %></span>
    </p>
    <% if @datasource.host.present? %>
      <p class="flex items-center space-x-2">
        <strong class="w-24">Host:</strong>
        <span class="flex-1"><%= @datasource.host %></span>
      </p>
    <% end %>
    <% if @datasource.port.present? %>
    <p class="flex items-center space-x-2">
      <strong class="w-24">Port:</strong>
      <span class="flex-1"><%= @datasource.port %></span>
    </p>
    <% end %>
  </div>
  <div class="mt-6">
    <%= link_to "Edit", edit_datasource_path(@datasource), class: "inline-block px-4 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600" %>
    </br>
    <%= link_to "Back to List", datasources_path, class: "mt-2 inline-block px-4 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600" %>
    <%= button_to "Delete", datasource_path(@datasource), method: :delete, form: {data: { 'turbo-confirm': "Are you sure?" }}, class: "inline-block px-4 py-2 bg-red-500 text-white font-semibold rounded hover:bg-red-600 mt-2" %>
  </div>
</div>

<% if @datasource.datasource_type == "psql" || @datasource.datasource_type == "mysql" %>
  <% connection = @datasource.connection %>
  <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
    <% connection.tables.each do |table| %>
      <div class="mb-8">
        <h2 class="text-2xl font-bold mb-4"> <%= table %> </h2>
        <table class="w-full text-left table-auto">
          <thead class="bg-blue-500 text-white">
            <tr>
              <th class="px-4 py-2">Name</th>
              <th class="px-4 py-2">SQL Type</th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <% connection.columns(table).each do |row| %>
              <tr>
                <td class="border px-4 py-2"><%= row.name %></td>
                <td class="border px-4 py-2"><%= row.sql_type %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
<% end %>
