<div class="flex justify-end mt-10">
  <button id="open-modal" class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add</button>
</div>
<h1 class="text-2xl mb-10"><%= @dataview.name %></h1>
<div class="flex flex-wrap" id="<%= dom_id(@dataview) %>">
  <% @dataview.dataviews_dataqueries.each do |dataviews_dataquery| %>
    <div id="<%= dom_id(dataviews_dataquery) %>">
      <%= render partial: 'dataqueries/dataquery', locals: { dataquery: dataviews_dataquery.dataquery, dataviews_dataquery: dataviews_dataquery } %>
    </div>
  <% end %>
</div>
<% unless @dataview.dataviews_dataqueries.any? %>
  <div class="text-center" id="empty_state">
    <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
      <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
    </svg>
    <h3 class="mt-2 text-sm font-semibold text-gray-900">No Element</h3>
    <p class="mt-1 text-sm text-gray-500">Get started by creating a new element.</p>
    <div class="mt-6">
      <button type="button" class="inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" onclick="document.getElementById('open-modal').click()">
        <svg class="-ml-0.5 mr-1.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
        </svg>
        Add
      </button>
    </div>
  </div>
<% end %>
<!-- Button to trigger the modal -->
<button id="open-modal" class="hidden">Open Modal</button>
<!-- Modal -->
<div id="modal" class="fixed z-10 inset-0 overflow-y-auto hidden">
  <div class="flex items-center justify-center min-h-screen p-4">
    <div class="bg-white shadow-md rounded-lg p-6 w-1/2 relative" style="padding-top: 2rem;">
      <button id="close-modal" class="absolute top-2 right-2 text-gray-600 hover:text-gray-800 focus:outline-none">
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
      <!-- Modal Header -->
      <h2 class="text-xl font-bold mb-4 text-gray-900">Add a new datapoint</h2>
      <%= form_with(url: dataview_create_dataquery_path(@dataview), id: 'add-dataquery-form', data: { turbo_action: 'submit', turbo_frame: 'dataquery-form' }) do |f| %>
        <div class="mb-4">
          <%= f.select(:dataquery_id, options_from_collection_for_select(current_user.company.dataqueries.reject { |dataquery| @dataview.dataqueries.include?(dataquery) }, 'id', 'name'), {prompt: 'select a query'}, {class: 'p-2 border rounded-lg w-full'}) %>
        </div>
        <div class="flex justify-end">
          <%= f.button 'Add', class: 'bg-blue-500 text-white py-2 px-4 rounded-lg' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Overlay with black transparent background -->
<div id="modal-overlay" class="fixed inset-0 bg-black opacity-50 hidden"></div>
<!-- JavaScript to handle modal functionality -->
<script>
  document.getElementById("open-modal").addEventListener("click", function() {
    document.getElementById("modal").classList.remove("hidden");
    document.getElementById("modal-overlay").classList.remove("hidden");
  });

  document.getElementById("modal-overlay").addEventListener("click", function() {
    document.getElementById("modal").classList.add("hidden");
    this.classList.add("hidden");
  });

  document.getElementById("close-modal").addEventListener("click", function() {
    document.getElementById("modal").classList.add("hidden");
    document.getElementById("modal-overlay").classList.add("hidden");
  });

  document.getElementById("add-dataquery-form").addEventListener("submit", function() {
    document.getElementById("modal").classList.add("hidden");
    document.getElementById("modal-overlay").classList.add("hidden");
  });
</script>
