<div class="flex justify-end">
  <button id="open-modal" class="bg-blue-500 text-white py-2 px-4 rounded-lg">Add</button>
</div>
<h1 class="text-2xl mb-10"><%= @dataview.name %></h1>
<div class="flex flex-wrap" id="<%= dom_id(@dataview) %>">
  <% @dataview.dataviews_dataqueries.each do |dataviews_dataquery| %>
    <div id=<%= dom_id(dataviews_dataquery) %> >
      <%= render partial: 'dataqueries/dataquery', locals: { dataquery: dataviews_dataquery.dataquery, dataviews_dataquery: dataviews_dataquery } %>
    </div>
  <% end %>
</div>
<!-- Button to trigger the modal -->
<!-- Modal -->
<div id="modal" class="fixed z-10 inset-0 overflow-y-auto hidden">
  <div class="flex items-center justify-center min-h-screen p-4">
    <div class="bg-white shadow-md rounded-lg p-6 w-1/2 relative" style="padding-top: 2rem;">
      <button id="close-modal" class="absolute top-2 right-2 text-gray-600 hover:text-gray-800 focus:outline-none">
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
      <%= form_with(url: dataview_create_dataquery_path(@dataview), id: 'add-dataquery-form', data: { turbo_action: 'submit', turbo_frame: 'dataquery-form' }) do |f| %>
        <div class="mb-4">
          <%= f.select :dataquery_id, options_from_collection_for_select(current_user.company.dataqueries.reject { |dataquery| @dataview.dataqueries.include?(dataquery) }, 'id', 'name'), prompt: 'Select a Dataquery', class: 'p-2 border rounded-lg w-full' %>
        </div>
        <div class="flex justify-end">
          <%= f.button 'Add', class: 'bg-blue-500 text-white py-2 px-4 rounded-lg' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Overlay with black transparent background -->
<div id="modal-overlay" class="fixed inset-0 bg-black opacity-50 hidden"></div>
<!-- JavaScript to handle modal functionality -->
<script>
  document.getElementById("open-modal").addEventListener("click", function() {
    document.getElementById("modal").classList.remove("hidden");
    document.getElementById("modal-overlay").classList.remove("hidden");
  });

  document.getElementById("modal-overlay").addEventListener("click", function() {
    document.getElementById("modal").classList.add("hidden");
    this.classList.add("hidden");
  });

  document.getElementById("close-modal").addEventListener("click", function() {
    document.getElementById("modal").classList.add("hidden");
    document.getElementById("modal-overlay").classList.add("hidden");
  });

  document.getElementById("add-dataquery-form").addEventListener("submit", function() {
    document.getElementById("modal").classList.add("hidden");
    document.getElementById("modal-overlay").classList.add("hidden");
  });
</script>
