<h1>Daily Summary</h1>
<p>New Sign-ups: <%= @new_signups.count %></p>
<p>New Prompts: <%= @new_prompts.count %></p>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Company name</th>
      <th>Datasource count</th>
    </tr>
  </thead>
  <tbody>
    <% @new_signups.each do |u| %>
      <tr>
        <td><%= u.email %></td>
        <td><%= u.company.name %> </td>
        <td><%= u.company.datasources.count %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th>New Prompts</th>
      <th>datasource id</th>
      <th>datasource type</th>
      <th>Company</th>
      <th>Created_at</th>
    </tr>
  </thead>
  <tbody>
    <% @new_prompts.each do |u| %>
      <tr>
        <td><%= u.content %></td>
        <td><%= u.datasource_id %></td>
        <td><%= u.datasource.try(:datasource_type) %></td>
        <td><%= u.company.name %></td>
        <td><%= u.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
