<div class="px-4 sm:px-6 lg:px-8 mt-10">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">Mailer Schedulers</h1>
      <p class="mt-2 text-sm text-gray-700">A list of all the Mailer Schedulers</p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <%= link_to "New Mailer Scheduler", new_mailer_scheduler_path, class: "block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Name</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Query</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Send Time</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Last Execution</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Action</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <% @schedulers.each do |s| %>
                <tr>
                  <td class="whitespace-nowrap py-4 px-3 text-sm font-medium text-gray-900 max-w-[300px] overflow-hidden text-ellipsis"><%= s.name %></td>
                  <td class="whitespace-nowrap py-4 px-3 text-sm font-medium text-gray-900 text-overflow-ellipsis overflow-hidden max-w-0"><%= s.dataview.name %></td>
                  <td class="whitespace-nowrap py-4 px-3 text-sm font-medium text-gray-900">Everyday at : <%= '%02d' % (s.send_time.to_i / 60).round(2) %>:00 UTC</td>
                  <td class="whitespace-nowrap py-4 px-3 text-sm font-medium text-gray-900"><%= s.last_execution %></td>
                  <td class="whitespace-nowrap py-4 px-3 text-sm font-medium text-gray-900 ">
                    <%# link_to "Show", mailer_scheduler_path(s), class: "text-white bg-indigo-600 py-2 px-3 rounded hover:text-indigo-100" %>
                    <%= link_to "Edit", edit_mailer_scheduler_path(s), class: "text-white bg-orange-600 py-2 px-3 rounded hover:text-orange-100" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
