<!-- Chat Area -->
<div class="flex flex-col w-3/4">
    <!-- Chat Messages -->
    <div class="flex-1 p-4 overflow-auto">
        <div class="mb-4">
            <div class="inline-block bg-green-100 rounded-tl-lg rounded-tr-lg rounded-br-lg px-4 py-2 text-green-800">
                Assistant: Hi, How can I help you today?
            </div>
        </div>
        
        <div id="result" class="mt-5">
    <turbo-frame id="result_frame"></turbo-frame>
  </div>
    </div>
    <!-- Input Bar -->
    <div class="border-t border-gray-300 p-4">
        <%= form_with url: prompts_path, remote: true, local: false, html: { id: 'generate-form', class: 'flex items-center' } do |form| %>
        <!-- Dropdown -->
        <%= form.select :datasource_id, current_user.company.datasources.map { |ds| [ds.name, ds.id] }, { prompt: 'Source' }, class: "border rounded-l-lg px-3 py-2 focus:outline-none focus:border-none", required: true %>

        <!-- Input Text -->
        <%= form.text_area :input_field, class: "h-10 flex-1 px-4 py-2 rounded-r-lg focus:outline-none focus:border-none focus:border-blue-500", placeholder: "Type your message...", required: true, id: 'input-text-area' %>


        <!-- Submit Button -->
        <%= button_tag(type: 'submit', class: "bg-blue-500 text-white px-4 py-2 rounded-r-lg ml-2 focus:outline-none focus:ring-2 focus:ring-blue-500", id: "generate-button") do %>
          <span id="send-text">Send</span>
          <span id="loader-container" style="display: none;">
            <%= render 'shared/loader' %>
          </span>
        <% end %>
      <% end %>

    </div>
</div>

<script>
  const form = document.getElementById('generate-form');
  const inputField = document.getElementById('input-field');
  const generateButton = document.getElementById('generate-button');

  form.addEventListener('submit', function(event) {
    // Empty the textarea
    inputField.value = '';

    // Disable the submit button
    generateButton.disabled = true;
  });

  // Listen for the "turbo:submit-end" event to re-enable the submit button
  form.addEventListener('turbo:submit-end', function(event) {
    // Re-enable the submit button
    generateButton.disabled = false;
  });


  document.getElementById('input-text-area').addEventListener('keydown', function(event) {
    // Check if the key code corresponds to the Enter key
    if (event.keyCode === 13) {
      // Prevent the default behavior of the Enter key (new line)
      event.preventDefault();
      // Submit the form
      document.getElementById('generate-form').submit();
    }
  });

  document.getElementById('generate-form').addEventListener('submit', function(event) {
    // Hide the "Send" text
    document.getElementById('send-text').style.display = 'none';
    // Show the loader container
    document.getElementById('loader-container').style.display = 'inline';
  });
});

</script>