<div class="flex flex-col w-full min-h-screen border border-gray-300 mt-16 rounded-lg" data-controller="link"> <!-- Updated classes here -->
  <!-- Chat Messages -->
  <div class="flex-1 p-4 overflow-auto mb-32" id="messages-container">
    <turbo-frame id="result_frame">
      <div class="mb-4">
        <div class="inline-block bg-green-100 rounded-tl-lg rounded-tr-lg rounded-br-lg px-4 py-2 text-green-800">
          Assistant: Hi, How can I help you today?
        </div>
      </div>
      <%= link_to "View data schema", datasource_path(Datasource.last), target: "_blank", class: "bg-blue-500 text-white px-4 py-2 rounded ml-2 focus:outline-none focus:ring-2 focus:ring-gray-500 hidden", data: { link_target: "link" } %>
    </turbo-frame>
    <div class="inline-block bg-green-100 rounded-tl-lg rounded-tr-lg rounded-br-lg px-4 py-2 text-green-800 hidden" id="message-loader">
      <%= render 'shared/loader' %>
    </div>
  </div>
  <!-- Input Bar -->
  <div class="flex justify-center w-full border-t border-gray-300 p-4 bg-white">
    <%= form_with url: prompts_path, remote: true, local: false, html: { id: 'generate-form', class: 'flex items-center', data: {turbo: true, controller: "hide-turbo-progress loading-button" } } do |form| %>
      <div class="relative overflow-hidden whitespace-nowrap text-overflow-ellipsis border-none mr-2 rounded-l-lg px-3 py-2 focus-within:outline-none focus-within:border-none focus-within:ring-0 ring-0">
        <%= form.select :datasource_id, current_user.company.datasources.map { |ds| [ds.name, ds.id] }, { prompt: 'Source' }, class: "w-full bg-white border-none focus-within:border-none focus-within:ring-0 ring-0", required: true, data: { action: "change->link#updateLink", link_target: "select" } %>
      </div>
      <%= form.text_field :input_field, class: "auto-grow-textarea border-none focus-ring-0 ring-0 h-10 flex-1 lg:min-w-[600px] px-4 py-2 rounded-r-lg focus:outline-none focus:border-none", placeholder: "Type your message...", required: true, id: 'input-text-area', style: "max-height: 120px; overflow-y: auto;" %>
      <%= button_tag(type: 'submit', class: "bg-blue-500 text-white px-4 py-2 rounded-r-lg ml-2 focus:outline-none focus:ring-2 focus:ring-blue-500", id: "generate-button", data: { action: "click->loading-button#submitForm", loading_button_target: "button" }) do %>
        <span id="send-text">Send</span>
      <% end %>
      <button type="button" class="bg-blue-500 text-white px-4 py-2 rounded-r-lg ml-2 focus:outline-none focus:ring-2 focus:ring-blue-500 hidden" data-loading-button-target="loader">
        <span id="loader-container">
          <%= render 'shared/loader' %>
        </span>
      </button>
    <% end %>
  </div>
</div>
