<h1> Edit your query </h1>
<%= form_with(model: @dataquery, url: dataquery_path(@dataquery), method: :put, local: true) do |form| %>
  <div class="mb-4">
    <%= form.label :query, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_area :query, value: @dataquery.query, id: "query_text_area", class: "bg-gray-800 text-white p-3 rounded-md whitespace-pre-line block w-full", data: { controller: "resizable-text-area" } %>
  </div>

  <div class="flex items-center justify-between">
    <%= form.submit "Save", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    <button type="button" id="execute-button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Execute</button>
    <%= button_tag class: "hidden mt-1 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline", id: "loader", disabled: true  do %>
    <%= render 'shared/loader' %> 
  <% end %>
  </div>
<% end %>

<%= form_with(url: dataquery_run_path(@dataquery), method: :post, id: "run_form", class: "inline mt-10") do |form| %>
  <%= form.hidden_field :query,  value: @dataquery.query, id: "hidden_query_field" %>
  <%= form.submit "Run", class: "hidden", id: "run-button" %>
<% end %>



<turbo-frame id="result_frame">
  <%= render "shared/result_table", prompt: nil, answer: @result, include_save_button: false, include_create_chart_button: false %>
</turbo-frame>

<script>
document.getElementById('execute-button').addEventListener('click', function() {
    document.getElementById('run-button').click();
  });
  document.getElementById('run_form').addEventListener('submit', function() {
  document.getElementById('loader').classList.remove('hidden');
  document.getElementById('execute-button').classList.add('hidden');
});

document.getElementById('query_text_area').addEventListener('input', function() {
  document.getElementById('hidden_query_field').value = this.value;
});

document.addEventListener('turbo:submit-end', function() {
  document.getElementById('loader').classList.add('hidden');
  document.getElementById('execute-button').classList.remove('hidden');
});



</script>
