<div class="container mx-auto px-4 py-8">
  <div class="w-full">
  <button class="float-right inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
    Delete
  </button>
</div>

  <div class="mb-6">
    <h1 class="text-3xl font-bold mb-2">Data Query</h1>
    <p class="text-gray-600">Datasource: <%= @dataquery.datasource.name %></p>
  </div>
  

  <div class="w-full overflow-x-scroll mb-6">
    <code class="bg-gray-800 text-white p-3 rounded-md whitespace-pre-line block">
      <%= @dataquery.sanitized_query %>
    </code>

  </div>

  <!-- You can add more content here, such as buttons for editing or deleting the data query -->
  
  <%= link_to 'Download to CSV', dataquery_download_csv_path(@dataquery), class: 'inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>


         <table class="min-w-full divide-y divide-gray-300 mt-2">
            <thead class="bg-gray-50">
              <tr>
              <%- @result[0].keys.each do |header| %>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%=header %> </th>
              <% end %>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
            <%- @result.each do |res| %>
              <tr>
              <%- res.each do |k, v|%>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%=v%></td>
                <% end %>
              </tr>
            <% end %>

            </tbody>
          </table>
</div>
