<div class="max-w-md mx-auto">
  <header class="flex items-center justify-between mb-8">
    <div class="flex items-center text-center"> <!-- Added "text-center" class -->
      <img src="<%= asset_path('logo.png') %>" alt="Logo" class="h-8 w-auto">
      <h1 class="text-xl font-bold ml-2">Join the parse beta program</h1>
    </div>
  </header>
  <%= form_with(model: Contact, url: contact_url, local: true) do |form| %>
    <div class="mb-4">
      <%= form.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :email, class: "form-input mt-1 block w-full" %>
    </div>
    <div class="mb-4">
      <%= form.label :company_name, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :company_name, class: "form-input mt-1 block w-full" %>
    </div>
    <div class="mb-4">
      <%= form.label :number_of_employees, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.select(:number_of_employees, options_for_select(Contact::EMPLOYEE_RANGES), {}, class: 'form-input mt-1 block w-full max-w-md') %>
    </div>
    <div class="mb-4">
      <%= form.label :database_support, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <% Contact::SUPPORT_OPTIONS.each do |option| %>
        <div class="flex items-center mb-2">
          <%= form.radio_button :database_support, option, id: option.downcase, class: "form-radio" %>
          <%= form.label option, class: "ml-2" %>
        </div>
      <% end %>
    </div>
    <div class="flex justify-end">
      <%= form.submit "Submit", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
  <% end %>
</div>
