<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <title>ChartGPT</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# Add a favicon %>
    <link rel="icon" type="image/png" href="" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('logo.png') %>
  </head>

  <body class="bg-gray-100">
    <% flash.each do |type, message| %>
        <div class="<%= flash_class(type) %>">
          <%= message %>
        </div>
  <% end %>
    <div class="flex h-screen">
  
  <div class="bg-white w-1/4 p-4 border-r border-gray-300 flex flex-col justify-between">
            <!-- Sidebar Content -->
            <div>
                <h1 class="text-xl font-bold mb-4">Menu</h1>
                <!-- Sidebar Menu -->
                <ul class="space-y-2 mb-4">
                    <%= link_to "Dashboard", root_path, class: "block px-4 py-2 hover:bg-gray-200"%>
                    <%= link_to "Datasources", datasources_path, class: "block px-4 py-2 hover:bg-gray-200"%>
                </ul>
            </div>
            <!-- Logout Button -->
          
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500" %>

        </div>
        <%= yield %>
  </div>
  

  </body>
</html>
