<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <title>Parse.dev</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% # Add a favicon %>
    <link rel="icon" type="image/png" href="" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path("logo.png") %>
  </head>

  <body class="h-full">
    <main class="center-content">
      <div class="mt-20">
        <%= yield %>
      </div>
    </main>


  </body>
</html>
