<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <title>Parse.dev</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% # Add a favicon %>
    <link rel="icon" type="image/png" href="" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path("logo.png") %>
    <script defer data-domain="parse.dev" src="https://plausible.io/js/script.js"></script>
  </head>
  <body class="h-full">
    <% flash.each do |type, message| %>
      <div class="<%= flash_class(type) %>">
        <%= message %>
      </div>
    <% end %>
    <main class="center-content">
      <%= yield %>
    </main>
  </body>
</html>
